<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subdivision Management System</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/Landing.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid cont">
            <h1 class="navbar-brand" style="font-weight:700; font-size:25px">Neighborly</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center " id="navbarNav" style="gap:20px">
                <ul class="navbar-nav gap-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Facilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NewsFeed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
            <button class=" signbtn">SIGN IN</button>
        </div>
    </nav>

    <div class="container-fluid main-content">
        <div class="left-land">
            <div>
                <h1 style="font-weight:900; font-size:50px;">
                    Strengthening Connections, Bringing Your Community
                    Closer
                </h1>
            </div>
            <div>
                <p style="text-align:justify">Stay connected and in control with our all-in-one subdivision portal. From announcements and payments to
                    facility reservations and security features, managing your home and community has never been easier.</p>
            </div>
            <div class="btns">
               <button class="lrnbtn">Learn More</button>
                <button class="cntbtn">Contact Us</button>
            </div>

        </div>
        <div class="right-land">
            <img src="/Images/modern-house.png" />
        </div>
    </div>

    <div class="container-fluid about">
        <div class="aboutimg">
            <img src="/Images/aboutimg.png" />
        </div>

        <div class="aboutxt">
            <div class="topdiv">
                <h2>About Neighborly</h2>
                <p>At Neighborly, we prioritize safety and connectivity among our residents. Founded in 2025, our community
                    has grown into a vibrant neigjhborhood where everyone can thrive and engage with one another
                </p>
            </div>
            <div class="botdiv">
                <div class="leftdiv">
                    <div class="inupleft">
                        <h2>15 families</h2>
                        <p>With the 15 families, we have fostered a strong sense of community and collaboration</p>
                    </div>
                    <div class="inbotleft">
                        <h2>5 core values</h2>
                        <p>Our core values include Safety, Connectivity, Community engagement, Transparency and Sustainability.</p>
                    </div>
                </div>  
                <div class="rightdiv">
                    <div class="inupleft">
                        <h2>4 team members</h2>
                        <p>Our dedicated team includes professionals, from the HOA, security, and maintenance, all committed to enhancing your living experience</p>
                    </div>
                    <div class="inbotleft">
                        <h2>15 initiatives</h2>
                        <p>Over the years we have imp0lemented numerous initiatives to improve the quality of life for our residents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="facilities">
       <div class="factop">
            <h1>Explore Our Facilities</h1>
            <p>Discover the unique features that make our subdivision a wonderful place to live. From lush parks to modern facilities, our community offers a range of 
                amenities designed to enhance your lifestyle. Join us and experience the benefits of living in a connected and safe environment.</p>

       </div>

       <div class="botfac">
            <div class="facleft">
                <div class="facimage">
                    <img src="./Images/facimg1.png" alt="Community Park" />
                </div>
                <div class="factext">
                    <h2>Community Park</h2>
                    <p>Our community park offers a serene environment with walking trails, playgrounds, and picnic areas. It’s the perfect place for families to enjoy
                        outdoor activities and connect with nature.</p>

                    <button class="morebtn">Learn More</button>
                </div>

           </div>
            
            <div class="facmiddle">
                <div class="facimage">
                    <img src="./Images/facimg2.png" alt="Clubhouse" />
                </div>
                <div class="factext">
                    <h2>Clubhouse</h2>
                    <p>
                        The clubhouse is the heart of our community, hosting social events and gatherings. It's a place where residents come together to celebrate and
                        build lasting friendships.
                    </p>

                    <button class="morebtn">Learn More</button>
                </div>
            </div>

            <div class="facright">
                <div class="fitimg">
                    <img src="./Images/facimg3.png" alt="Fitness Center" />
                </div>
                <div class="fitext">
                    <h2>Fitness Center</h2>
                    <p id="text">
                        Our state-of-the-art fitness center is equipped with modern facilities to support your health and wellness goals. Stay fit and healthy with us..
                    </p>

                    <button class="morebtn">Learn More</button>
                </div>
            </div>

       </div>

    </div>

</body>
</html>
